html, body, #MAIN {
  padding: 0px;
  margin: 0px;
}

body {
  color: #F2F2F2;
  background-color: #0D0D0D;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;

  display: flex;
  justify-content: center;
}

#content1, #content2, #content3, #content4 {
  display: flex;
  width: 700px;
  height: 250px;
}

#content1, #content2, #content3 {
  border-bottom: 2px solid #F2F2F2;
}

#content2, #content3, #content4 {
  justify-content: space-between;
}

#left1, #right2, #left3, #right4 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 200px;
  font-weight: bold;
  letter-spacing: 2.5px;

  margin-top: 12px;
}

#left1, #left3 {
  margin-left: -14px;
}

#right2{
  margin-right: -16.5px;
}

#right4 {
  margin-right: -6px;
}

.overlap {
  overflow: hidden;
  border-top: .5px solid #0D0D0D;
  box-sizing: border-box;
  position: relative;
}

.top_echo {
  height: 12px;
}

.middle_echo {
  height: 24px;
}

.bottom_echo {
  height: 36px;
}

.echoInner {
  position: absolute;
  top: -55px;
}

.front {
  border-top: 5px solid #0D0D0D;
  overflow: visible;
  line-height: 136px;
}


#text1 {
  margin-left: 100px;
  width: 400px;
  height: inherit;
}

#mid1 {
  line-height: 20px;
}

#lh {
  margin-bottom: 20px;
}

.lh2 {
  margin-bottom: 16px;
}

#top1 {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 70px;
}

#right1 {
  font-size: 36px;
  line-height: 36px;
}

#bottom {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#bottom {
  font-size: 32px;
}

#left2 {
  margin-top: 80px;
  font-size: 16px;
  line-height: 16px;
}

#bottomright3 {
  font-size: 16px;
  width: 180px;
  line-height: 16px;
  text-align: right;
  margin-top: 194px;
}

#left4 {
  margin-top: 12px;
  width: 116px;
  font-size: 16px;
  line-height: 16px;
}
